:root {
  font-family: 'Roboto', sans-serif;
  ;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  background-color: #020230;
  background-image: url("/src/assets/peakpx.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  text-align: center;
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  background: linear-gradient(#0e0124, #22074d);
  color: #ffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #ffff;
    background-color: black;
  }

  a:hover {
    color: #747bff;
  }
}